<h1>Edit Movie Info:</h1>

<form class="" action="index.html" method="put">
  <input type="text" name="movie[title]" value="Title">
  <input type="text" name="movie[description]" value="Description">
  <input type="submit" name="submit">
</form>
